@media (max-width: 599px) {
  h1.test1 {
    color: red;
  }
}
@media (min-width: 1200px) {
  div.headerImg {
    background-image: url('http://fastdl.linemax.de/s448802/swag-people/static/images/sp_logo.png');
    height: auto;
    background-position: center center;
    background-repeat: no-repeat;
    height: 380px;
  }
  div.box1 {
    position: absolute;
    background-color: #31B404;
    height: 200px;
    margin-left: 379px;
    width: 200px;
    border: 1px solid black;
    -webkit-box-reflect: below 1px -webkit-linear-gradient(top,rgba(0,0,0,0) 25%,#ffffff 100%);
    -moz-box-reflect: below 1px -moz-linear-gradient(top,rgba(0,0,0,0) 25%,#ffffff 100%);
  }
  div.box1 *:hover {
    color: white;
  }
  div.box2 {
    background-color: #0174DF;
    margin-left: 682px;
  }
  div.box3 {
    background-color: #DF3A01;
    margin-left: 995px;
  }
  div.box4 {
    background-color: #B404AE;
    margin-left: 1303px;
  }
  div.container {
    width: 100%;
  }
  section#features {
    margin-left: 365px;
    width: 60%;
    background-color: black;
    margin-top: 309px;
    clear: both;
    overflow: hidden;
    padding: 20px 0 40px 26px;
  }
  div.add1 {
    margin-top: 190px;
    position: absolute;
  }
}
* {
  color: #fff;
}
body {
  margin: 0;
  background-color: #2A0A1B;
  font-family: 'Romanesco', cursive !important;
}
body a {
  color: #08088A;
}
body a :hover {
  color: #08298A;
}
body #sliderWrap {
  margin: 0 auto;
  width: 300px;
}
body #slider {
  position: absolute;
  background-image: url(slider.png);
  background-repeat: no-repeat;
  background-position: bottom;
  width: 300px;
  height: 159px;
  margin-top: -141px;
}
body #slider img {
  border: 0;
}
body #sliderContent {
  margin: 50px 0 0 50px;
  position: absolute;
  text-align: center;
  background-color: #FFFFCC;
  color: #333333;
  font-weight: bold;
  padding: 10px;
}
body #header {
  margin: 0 auto;
  width: 600px;
  background-color: #F0F0F0;
  height: 200px;
  padding: 10px;
}
body #openCloseWrap {
  position: absolute;
  margin: 143px 0 0 120px;
  font-size: 12px;
  font-weight: bold;
}
header.page-header {
  border: none;
}
input {
  color: black;
}
h1,
h2,
h3,
a,
p,
b {
  font-family: 'Romanesco', cursive !important;
}
