/**
*written by Aurel Syz, Flavio Kleiber
*/
//=============================
//Variabels
//=============================
@backgroundcolor: #2A0A1B;
@font-color: #fff;
@link-color: #08088A;
@link-color-hover: #08298A;
@base-url: "http://fastdl.linemax.de/s448802/swag-people/static/images/";


//=============================
//Imports for the viewport
//=============================
//Mobile
@media (max-width: 599px) {
	@import "small.less";
}
//ööööhh
@media (min-width: 600px) and (max-width: 767px) {
	
}
//Tablet
@media (min-width: 768px) and (max-width: 979px) {
	@import "medium.less";
}
//Desc
@media (min-width: 1200px) {
	@import "large.less";
}

//=============================
//Default
//=============================
* {

	color: @font-color;
}
body {
	//Importent because of bootsprap
	margin: 0;
	background-color: @backgroundcolor;
	font-family: 'Romanesco', cursive !important;
	a {
		color: @link-color;
		:hover {
			color: @link-color-hover;
		}
	}

	#sliderWrap {
	margin: 0 auto;
	width: 300px;
	}
	#slider {
	position: absolute;
	background-image:url(slider.png);
	background-repeat:no-repeat;
	background-position: bottom;
	width: 300px;
	height: 159px;
	margin-top: -141px;
	}
	#slider img {
	border: 0;
	}
	#sliderContent {
	margin: 50px 0 0 50px;
	position: absolute;
	text-align:center;
	background-color:#FFFFCC;
	color:#333333;
	font-weight:bold;
	padding: 10px;
	}
	#header {
	margin: 0 auto;
	width: 600px;
	background-color: #F0F0F0;
	height: 200px;
	padding: 10px;
	}
	#openCloseWrap {
	position:absolute;
	margin: 143px 0 0 120px;
	font-size:12px;
	font-weight:bold;
	}

}
header.page-header {
	border: none;
}
input{
	color: black;
}
h1,h2,h3,a,p,b {
	font-family: 'Romanesco', cursive !important;
}